<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS in Information Security Policy and Management</h1>
            <span>Carnegie Mellon University</span>
            <span><address>Pittsburgh, PA</address><time>2010 to 2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>B.S. in Information Systems</h1>
            <span>Elizabethtown College</span>
            <span><address>Elizabethtown, PA</address><time>2007 to 2010</time></span>
        </header>
    </article>
</section>
