<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Lead Security Solutions Developer</h1>
            <span><address>CERT Division at the Software Engineering Institute</address><time>2012 to Present
            </time></span>
        </header>
        <div>
            <h2>Vulnerability Research Tool Development</h2>
            <ul>
                <li>Lead Python developer on various internal projects, including a graph database system that
                    automatically collects, categorizes, and identifies relationships between software products,
                    software libraries, vendors, vulnerabilities, and technologies.
                </li>
                <li>Co-authored an open source Android application fuzzing framework written in Python.</li>
                <li>Assisted with the ongoing development of the CERT Basic Fuzzing Framework (BFF).</li>
            </ul>
            <h2>Vulnerability Coordination</h2>
            <ul>
                <li>Triaged, analyzed, and responded to vulnerability reports from information security researchers
                    around the world.
                </li>
                <li>Authored and published numerous critical CERT Vulnerability Notes that gained widespread attention
                    from the information security industry and global media outlets.
                </li>
            </ul>
            <h2>Vulnerability Management</h2>
            <ul>
                <li>Advised federal agencies, commercial enterprises, and various key stakeholders on how to respond to
                    and mitigate emerging vulnerabilities and threats.
                </li>
            </ul>
            <h2>Insider Threat Research</h2>
            <ul>
                <li>Researched and prototyped multiple next-generation security controls written in Java, Python, and
                    .NET to defend against intellectual property theft.
                </li>
                <li>Conducted multiple research projects on behalf of the United States Secret Service and gave
                    briefings to multiple chapters of the USSS Electronic Crimes Task Force.
                </li>
                <li>Advised public and private organizations in the areas of data loss prevention, intellectual property
                    theft, insider fraud, and insider sabotage.
                </li>
            </ul>
        </div>
    </article>
    <article>
        <header>
            <h1>Adjunct Faculty</h1>
            <span><address>Norwich University</address><time>Aug. 2013 to Dec. 2013</time></span>
        </header>
        <div>
            <ul>
                <li>Instructed graduate students in GI522 - Information Assurance Technology.</li>
                <li>Taught the fundamentals of secure network architecture and host-based security policies.</li>
                <li>Covered the proper usage and application of various security controls and tools, including:
                    firewalls, antivirus applications, web and application proxies, intrusion detection and prevention
                    systems (IDS & IPS), host-based intrusion detection systems (HIDS), vulnerability scanners, and
                    configuration management systems.
                </li>
            </ul>
        </div>
    </article>
    <article>
        <header>
            <h1>Graduate Student Intern</h1>
            <span><address>CERT Division at the Software Engineering Institute</address><time>2010 to 2012</time></span>
        </header>
        <div>
            <ul>
                <li>Assisted in the development of data-driven backend systems to collect insider threat case data.</li>
                <li>Researched insider threat cases to identify patterns in insider attacks.</li>
                <li>Developed technical controls to protect against common insider attack methods.</li>
            </ul>
        </div>
    </article>
</section>
