<section class="thirteen columns">
    <h1>Skills &amp; Knowledge</h1>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
            <table>
                <tr>
                    <td>
                        <strong>Proficient</strong>
                    </td>
                    <td>
                        <em>Python</em> &amp; <em>Java</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Experienced</strong>
                    </td>
                    <td>
                        <em>HTML/CSS</em><em>Javascript</em>, <em>Bash</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Fundamental</strong>
                    </td>
                    <td>
                        <em>C#/.NET</em>, <em>SQL</em>
                    </td>
                </tr>
            </table>
    </article>
    <article>
        <header>
            <h1>Frameworks &amp; Tools</h1>
        </header>
        <table>
            <tr>
                <td>
                    <strong>Web Development</strong>
                </td>
                <td>
                    <em>Django</em>, <em>Flask</em>, <em>Bottle</em>, <em>J2EE</em>, <em>HTML</em>, <em>CSS</em>, <em>Javascript</em>, &amp; <em>jQuery</em>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Data Storage</strong>
                </td>
                <td>
                    <em>MySQL</em>, <em>PostgreSQL</em>, <em>MS SQL Server</em>, <em>Memcached</em>, <em>Redis</em>, <em>Neo4j</em>, &amp; <em>CouchDB</em>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Tools</strong>
                </td>
                <td>
                    <em>JIRA</em>, <em>Confluence</em>, <em>BitBucket</em>, <em>GitHub</em>, <em>JetBrains IDEs</em>, <em>Visual Studio</em>, <em>Eclipse</em>, <em>Netbeans</em>, <em>Jenkins</em>, <em>Vagrant</em>, <em>Git</em>, &amp; <em>SVN</em>
                </td>
            </tr>
        </table>
    </article>
</section>